@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #111;
    color: #ddd;
    font-family: 'Montserrat' sans-serif;
    font-weight: 300;
}

.header{
    background-color: #222;
    padding: 25px 100px;
    font-weight: 600;

}

main{
    margin: 50px 100px;
    width: 50%;
    float: left;

}
aside{
    float: left;
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
}

main .user{
    margin-bottom: 20px;
    background-color: #3e8fa0;
    padding: 20px;
}

main .delete-icon,
main .edit-icon{
    float: right;
}

main .delete-icon:hover,
main .edit-icon:hover{
    opacity: 0.5;
}

 form input:not([type="checkbox"]),
 form textarea,
 form button{

    width: 90%;
    padding: 15px 5%;
    font-weight: 300;
    margin-bottom: 15px;
    border: 0;
    background: #222;
    color: #fff;
    outline: none;
    font-size: 15px;
}

 form input[type="checkbox"]{
    margin:  10px;
}

 form button{
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
}

 form button:hover{
    transform: scale(1.1);
}